<section id="zumShop">
  <div class="page-width" style="position: relative;">
    <h1>Unsere Partnershops</h1>
    <p>
      Gönrgy ist zuerst in unseren Partnershops Kaufland & REWE (ab dem 20.07.) erhältlich. <br>
      <br>
      Bei REWE Online ab dem 24.07. Am 26.07. bzw. 27.07. wird Gönrgy auch bei Shell Tankstellen und REWE to Go
      erhältich sein.
    </p>
    <div class="zumShopElement">
      <div class="elementLeft">
        <img src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/Display_limited-new.png?v=1708259940">
      </div>
      <div class="elementRight">
        <div class="shopButton">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/2560px-Logo_REWE_svg.png?v=1688818409"
            class="shopLogo"
          >
          <a class="button button--primary" target="_blank" href="https://www.rewe.de/suche/produkte?search=g%C3%B6nrgy"
            >Ab sofort online bei REWE verfügbar</a
          >
        </div>
        <!--
          <div class="shopButton">
            <img src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kaufland-logo-353033943B-seeklogo.com.png?v=1687865916" class="shopLogo"/>
            <a class="button button--primary disabled" href="/pages/zum-shop">Bald online verfügbar bei Kaufland</a>
          </div>
        -->
      </div>
    </div>
    <br>
    <br>
    <p></p>
    <div style="clear:both"></div>
    <div class="grid grid--3-col grid--2-col-tablet-down">
      <!-- REWE -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/2560px-Logo_REWE_svg.png?v=1688818409"
          class="partnerLogo"
          style="margin-top: 40%;"
        >
        <p class="partnerDate">ab 20.07.</p>
      </div>

      <!-- Kaufland -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kaufland.png?v=1688144572"
          class="partnerLogo"
          style="width: 70%; margin-left: 15%; margin-top: 24%; margin-bottom: 2%;"
        >
        <p class="partnerDate">ab 20.07.</p>
      </div>

      <!-- Edeka -->
      <div class="grid__item ">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/edeka.jpg?v=1688144572"
          class="partnerLogo "
          style="width: 60%; margin-top: 15%; margin-left: 20%;"
        >
        <p class="partnerDate">ab 07.08.</p>
      </div>

      <!-- Aral -->
      <div class="grid__item ">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/Aral_Logo_svg.png?v=1722684074"
          class="partnerLogo "
          style="width: 70%; margin-left: 15%; margin-top: 24%; margin-bottom: 2%;"
        >
      </div>

      <!-- Shell -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/Shell.svg?v=1688144571"
          class="partnerLogo"
          style="margin-top: 16%; margin-left: 10%; width: 80%;"
        >
        <p class="partnerDate">ab 26./27.07.</p>
      </div>

      <!-- ReweToGo -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/rewe-to-go.png?v=1688144571"
          class="partnerLogo"
          style="margin-top: 45%;"
        >
        <p class="partnerDate">ab 26./27.07.</p>
      </div>

      <!-- Lekkerland -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/lekkerland.png?v=1688144571"
          class="partnerLogo"
          style="margin-top: 40%;"
        >
      </div>

      <!-- Rossmann -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-rossmann-signet.png?v=1722684075"
          class="partnerLogo"
          style="margin-top: 40%"
        >
      </div>

      <!-- Familia -->
      <div class="grid__item ">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/Famila_logo_svg.png?v=1688818408"
          class="partnerLogo comingSoon"
          style="margin-top: 36%;"
        >
      </div>

      <!-- Tegut -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/tegut.svg?v=1688144571"
          class="partnerLogo comingSoon"
          style="margin-top: 20%;"
        >
      </div>

      <!-- Migros -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/1024px-Migros_svg.png?v=1699344849"
          class="partnerLogo"
          style="margin-top: 20%;"
        >
      </div>

      <!-- HIT -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/HIT_Logo_4c.png?v=1689614499"
          class="partnerLogo"
          style="margin-top: 20%;"
        >
        <p class="partnerDate">ab 24.07.</p>
      </div>

      <!-- Billa -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/BILLA_LOGO.png?v=1699344849"
          class="partnerLogo"
          style="margin-top: 30%; width: 70%"
        >
      </div>

      <!-- Flink -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/bbacec80-f5aa-4ee1-8b5c-ccd19c657884.jpg?v=1699282985"
          class="partnerLogo"
          style="margin-top: 40%"
        >
      </div>

      <!-- Globus -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/2560px-Globus__Supermarkt__svg.png?v=1722684076"
          class="partnerLogo"
          style="margin-top: 20%;"
        >
        <p class="partnerDate">ab 24.07.</p>
      </div>

      <!-- Müller -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/muller-drogerie-seeklogo.com.png?v=1722684074"
          class="partnerLogo"
          style="width: 50%; margin-left: 15%; margin-top: 24%; margin-bottom: 2%;"
        >
        <p class="partnerDate">ab 20.07.</p>
      </div>

      <!-- Wasgau -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/wasgau-marken-logo.png?v=1722684074"
          class="partnerLogo"
          style="margin-top: 40%;"
        >
      </div>

      <!-- Combi -->
      <div class="grid__item">
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-combi.svg?v=1722684074"
          class="partnerLogo"
          style="margin-top: 40%;"
        >
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Zum Shop",
  "settings": [],
  "presets": [
    {
      "name": "Zum Shop",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
